{% extends 'tutorial/tutorial-template.html' %}
{% block stepDetails %}
	<section class="section" id="about2">
		
		<div class = "container" id = "tut-steps">
			<div class="row">
				<h5>
				Uploading hands
				</h5>
				<p class="text_a">
				GTO Inspector currently support Pokerstars.com format hand histories which can be procured from trackers like PT4, HM3 etc, Adda52, GGPoker hand histories.
				</p>
				<p class="text_a">
					For exporting hand history from PT4, follow the steps below:
				</p>
			</div>
			<div class="row">
				<div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="/static/images/tutorial-images/step1a.png" class="rounded img-fluid d-block mx-auto" alt="Step 1-a">
				</div>
				<div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
					<div class="left-heading">
						<h5>Step 1: Export Hands from PT4</h5>
						<p>
							○ Filter and select the hands(ctrl+a and right click) you want to be analysed. Right click anywhere on the selected hands and click “Export Original Hand Histories”
						</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="hr"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="hr"></div>
			</div>
		</div>
		<div class="container" id = "tut-steps">
			<div class="row">
				<div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
					<div class="left-heading">
						<h5>Step 2: Choose a location to save the file. Remember this is the file which has to be uploaded on the website</h5>
						<p>
							○ For help with other trackers please visit their documentation site or contact us on gtoinspector.poker@gmail or join our discord server <a href="https://discord.gg/NNQArPCSzs">here</a></p>
					</div>
				</div>
				<div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
					<img src="/static/images/tutorial-images/step1c.png" class="rounded img-fluid d-block mx-auto" alt="Step 1-c">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="hr"></div>
			</div>
		</div>
		<div class="container" id = "tut-steps">
			<div class="row">
				<div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="/static/images/tutorial-images/step1d.png" class="rounded img-fluid d-block mx-auto" alt="Step 1-d">
				</div>
				<div id = "step3_" class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
					<div class="left-heading">
						<h5>Step 3: Check for processing status on the “Upload History” page</h5>
						<p>
							○ Once your report is generated you would get three options to choose from. You can click “View Analysis Dashboard” to get redirected to the dashboard, “Download HH File” to download the original .txt file uploaded by the user and “Download Processed CSV Report” to download the .csv report generated by GTOInspector. 
						</p>
						<p>
							○ The full report has the following columns:  Hand/Pairedness/Suitedness/Hand Category/Position/Result/Opportunity/Stack Size/Big Blind/Player's Move/GTO Move/Amount Won in Terms of BB/Move EV/GTO EV/Correct Moves EV/Wrong Moves EV/Cumulative Mistakes EV/Cumulative Correct Moves EV/Cumulative Earnings/Cumulative GTO EV/EV Difference
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}