{% extends 'tutorial/tutorial-template.html' %}
{% block stepDetails %}
	<section class="section" id="services">
        <div class="container" id = "step-2">
        	<div class = "row " id="heading" >

				<h5 style="font-size: xx-large;">
				Understanding and using the pie charts
                </h5>
                
			</div>
        

            <div class="row">
            	<div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="static/images/tutorial-images/step2d.png" class="rounded img-fluid d-block mx-auto" alt="Step 2-d">
				</div>
				<div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
					<div class="left-heading">
						<p>
							You can click on the position filters ( BU/SB/BB/CO/EP/MP) and the opportunity filters to filter out hands in the table below. The currently applied filters are shown on the top left corner of the dashboard. The “other” opportunity filter consists of hands involving 4bets/5bet etc. 
						</p>
					</div>
					
				</div>
            </div>
        </div>
    </section>

	
{% endblock %}