{% extends "base.html" %}
{% block content %}
	<section class="section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<h1>Cancellation and Refund Policy</h1>
<p>
	
</p>
<p>
	
Refunds
</p>

<p>
	
Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund.
</p>

<p>
	
To request a refund, email us at <a href="mailto:gtoinspector.poker@gmail.com">gtoinspector.poker@gmail.com</a> explaining the reasons you were unable to use the website. We reserve the right to refuse refunds for any reason. We will notify you of the approval or rejection of your refund.
</p>

<p>
	
To complete your refund, we require a receipt or proof of purchase.
</p>
<p>
	

If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
</p>

<p>
	
Late or missing refunds
</p>
<p>
	
If you haven’t received a refund yet, first check your bank account again.
</p>
<p>
	
Then contact your credit card company, it may take some time before your refund is officially posted.
</p>
<p>
	
Next contact your bank. There is often some processing time before a refund is posted.
</p>
<p>
	
If you’ve done all of this and you still have not received your refund yet, please contact us at <a href="mailto:gtoinspector.poker@gmail.com">gtoinspector.poker@gmail.com</a>.
</p>



				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}