

<footer style="height: fit-content; padding-top: 30px; padding-bottom:20px;">
	<style type="text/css">
		.white-text{
			color:white;
		}
	</style>
	<div class="container">
		<div class="row" id="footer_row">
			<div class="col-lg-7 col-md-12 col-sm-12 white-text" >
				<p class="copyright"><a rel="nofollow"  href="/feedback">Feedback Form</a></p>
				<p class="copyright"><a rel="nofollow" href="/faqs">Frequently Asked Questions</a></p>
				<p class="copyright"><a rel="nofollow" href="/privacy">Privacy Policy</a></p>
				<p class="copyright"><a rel="nofollow" href="/terms">Terms of Use</a></p>
				<p class="copyright"><a rel="nofollow" href="/about">About Us</a></p>
				<p class="copyright"><a rel="nofollow" href="/cancellation">Cancellation and Refund</a></p>
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12">
				<p class="copyright" style="font-size:18px; color:white; font-family:Roboto;"> Contact us here: </p>
				<p class="copyright">
					<a style="font-size:18px; font-family:Roboto; font-style: " href="mailto:gtoinspector.poker@gmail.com"><pre>gtoinspector.poker@gmail.com</pre> 
			</a>
				</p>
				<p class="copyright">
					<a style="font-size:18px; font-family:Roboto;" href="https://discord.gg/NNQArPCSzs">	
					Discord Channel
					<i class="fab fa-discord"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>