{% extends 'base.html' %}
{% block content %}
<section class="section" id="about">
		<div class="container">
			<div class="row">
				<div class="right-text col-lg-12 col-md-12 col-sm-12 mobile-top-fix">
					<div class="left-heading">
						<form method="POST" class="column">
				<div class="signup_form">
					<div class="text-center" style="color: white;" >
						<b>Forgot Password?</b>
					</div>
					<div id="reset_password_form">
						{{ reset_password_form.hidden_tag() }}
						<div class="input-container">
							{{ reset_password_form.email(class="omrs-input-filled") }}
							<label>Email</label>
						</div>
						<div class="button-class">
							{{ reset_password_form.submit(class="btn btn-danger", id="submit_button")}}
						</div>
					</div>
				</div>
			</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</section>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}">
{% endblock %}