form input[type="file"]{ 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40%;
  outline: none;
  opacity: 0;
}
.text_center{
  text-align: center;
}

#submit_files:hover{
  background-color: tomato;

}

.white_text {
	color:white;
}

.svg-upload-container {
	color:white;
}

.hide {
  display: none;
}

.toggle-hide:hover + .hide {
  display: block;
  color: white;
  padding:30px;

}